# Bytecode
__pycache__/
*.pyc
/workspaces/penuX/physionet.org/*
# Python env
.env/
.venv/

# Data outputs
docs/images/
docs/examples/

# Editor
.vscode/
.idea/
.claude/
.claude/
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
catboost_info/
